<form
  class="task-form"
  novalidate
  autocomplete="off"
  [formGroup]="taskValues"
  (ngSubmit)="onSubmit()"
>
  <h1 mat-dialog-title>Add new task</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Name</mat-label>
      <input matInput type="text" name="name" formControlName="name" />
      <mat-error *ngIf="taskValues.controls['name'].errors?.['required']"
        >Name is required</mat-error
      >
      <mat-error *ngIf="taskValues.controls['name'].errors?.['minLength']"
        >Name is too short</mat-error
      >
      <mat-error *ngIf="taskValues.controls['name'].errors?.['maxLength']"
        >Name is too long</mat-error
      >
    </mat-form-field>
    <div class="form-field editor-wrap">
      <ckeditor
        [data]="description"
        class="editor"
        (change)="onDescriptionChange($event)"
      ></ckeditor>
      <span
        class="mat-error error-message"
        *ngIf="!description.length && taskValues.touched && changedDescription"
        >Description is required</span
      >
      <span
        class="mat-error error-message"
        *ngIf="
          description.length < 20 &&
          description.length > 0 &&
          taskValues.touched &&
          changedDescription
        "
        >Description is too short</span
      >
      <span
        class="mat-error error-message"
        *ngIf="
          description.length > 5000 && taskValues.touched && changedDescription
        "
        >Description is too long</span
      >
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button
      mat-button
      [mat-dialog-close]="data.name"
      cdkFocusInitial
      type="submit"
      [disabled]="
        !taskValues.valid ||
        description.length < 20 ||
        description.length > 5000
      "
    >
      Add
    </button>
  </div>
</form>
