<form
  class="task-form"
  novalidate
  autocomplete="off"
  [formGroup]="taskValues"
  (ngSubmit)="onSubmit()"
>
  <div class="header">
    <mat-checkbox
      class="example-margin"
      name="checked"
      formControlName="checked"
      *ngIf="data.type === 'edit'"
    ></mat-checkbox>
    <h1 mat-dialog-title class="title">
      {{ data.type === "create" ? "Add new task" : "Edit task" }}
    </h1>
  </div>

  <div mat-dialog-content>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Name</mat-label>
      <input matInput type="text" name="name" formControlName="name" />
      <mat-error *ngIf="taskValues.controls['name'].errors?.['required']"
        >Name is required</mat-error
      >
      <mat-error *ngIf="taskValues.controls['name'].errors?.['minLength']"
        >Name is too short</mat-error
      >
      <mat-error *ngIf="taskValues.controls['name'].errors?.['maxLength']"
        >Name is too long</mat-error
      >
    </mat-form-field>
    <div class="form-field editor-wrap">
      <ckeditor
        [data]="description"
        class="editor"
        (change)="onDescriptionChange($event)"
      ></ckeditor>
      <span
        class="mat-error error-message"
        *ngIf="!description.length && taskValues.touched && changedDescription"
        >Description is required</span
      >
      <span
        class="mat-error error-message"
        *ngIf="
          description.length < 20 &&
          description.length > 0 &&
          taskValues.touched &&
          changedDescription
        "
        >Description is too short</span
      >
      <span
        class="mat-error error-message"
        *ngIf="
          description.length > 5000 && taskValues.touched && changedDescription
        "
        >Description is too long</span
      >
    </div>
    <mat-form-field appearance="fill" class="priorities">
      <mat-label>Priority</mat-label>
      <mat-select
        matSelect
        formControlName="priority"
        [(value)]="taskValues.value.priority"
      >
        <mat-option
          *ngFor="let priority of priorities"
          [value]="priority.value"
        >
          <span
            [ngClass]="{
              priority: true,
              low: priority.value === 'low',
              normal: priority.value === 'normal',
              hight: priority.value === 'hight'
            }"
            >{{ priority.viewValue }}</span
          >
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" type="button">Cancel</button>
    <button
      mat-button
      [mat-dialog-close]
      cdkFocusInitial
      type="submit"
      [disabled]="
        !taskValues.valid ||
        description.length < 20 ||
        description.length > 5000
      "
    >
      {{ data.type === "create" ? "Add" : "Edit" }}
    </button>
  </div>
</form>
