<form
  class="task-from"
  novalidate
  autocomplete="off"
  [formGroup]="taskValues"
  (ngSubmit)="onSubmit()"
>
  <h1 mat-dialog-title>Add new task</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Name</mat-label>
      <input matInput type="text" name="name" formControlName="name" />
      <mat-error *ngIf="taskValues.controls['name'].errors?.['required']"
        >Name is required</mat-error
      >
      <mat-error *ngIf="taskValues.controls['name'].errors?.['minLength']"
        >Name is too short</mat-error
      >
      <mat-error *ngIf="taskValues.controls['name'].errors?.['maxLength']"
        >Name is too long</mat-error
      >
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button
      mat-button
      [mat-dialog-close]="data.name"
      cdkFocusInitial
      type="submit"
    >
      Add
    </button>
  </div>
</form>
