<form
  class="auth-form"
  novalidate
  autocomplete="off"
  [formGroup]="registrateValues"
  (ngSubmit)="onCreateAccount()"
>
  <h1 class="title">Registration</h1>
  <div class="col">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>First name</mat-label>
      <input
        matInput
        type="text"
        name="first_name"
        formControlName="first_name"
      />
      <mat-error
        *ngIf="registrateValues.controls['first_name'].errors?.['required']"
        >First name is required</mat-error
      >
      <mat-error
        *ngIf="registrateValues.controls['first_name'].errors?.['minlength']"
        >First name should have 3 symbols or more</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Last name</mat-label>
      <input matInput name="last_name" formControlName="last_name" />
      <mat-error
        *ngIf="registrateValues.controls['last_name'].errors?.['required']"
        >First name is required</mat-error
      >
      <mat-error
        *ngIf="registrateValues.controls['last_name'].errors?.['minlength']"
        >Last name should have 3 symbols or more</mat-error
      >
    </mat-form-field>
  </div>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Email</mat-label>
    <input matInput type="text" name="email" formControlName="email" />
    <mat-error *ngIf="registrateValues.controls['email'].errors?.['required']"
      >Email is required</mat-error
    >
    <mat-error *ngIf="registrateValues.controls['email'].errors?.['email']"
      >Email should be valid</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="passHide ? 'password' : 'text'"
      name="password"
      formControlName="password"
    />
    <mat-error
      *ngIf="registrateValues.controls['password'].errors?.['required']"
      >Password is required</mat-error
    >
    <mat-error
      *ngIf="registrateValues.controls['password'].errors?.['minlength']"
      >Password should have 6 symbols or more</mat-error
    >
    <button
      mat-icon-button
      matSuffix
      (click)="passHide = !passHide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="passHide"
      type="button"
    >
      <mat-icon>{{ passHide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    class="send-btn"
    [disabled]="!registrateValues.valid"
  >
    Create account
  </button>
  <div class="bottom-wrap">
    <span>Already have an account?</span>
    <a routerLink="/login">Log in</a>
  </div>
</form>
