/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ol,
ul {
  list-style: none;
}
#cke_editor1 span#cke_1_toolbox[role="group"] > span:last-child {
  display: none;
}
.cke_inner[role="presentation"].error {
  border-bottom: 2px solid #f44336;
}
